    <div class="profile">
      <div class="pull-right">
        <%= image_tag @profile.avatar.url("200x200") %>
      </div>
      <ul class="list-unstyled">
        <li><label>姓名:</label><strong><%= @profile.name %></strong></li>
        <li><label>联系方式:</label><strong><%= @profile.contact %></strong></li>
      </ul>
    </div>