<%= render 'shared/success' %>

<div class="row">
  <div class="col-md-4">
    
  </div>

  <div class="col-md-4">
    <div class="face-box">
      <%= image_tag @profile.avatar.url %>
    </div>
  </div>
</div>

