<%= form_tag login_path, class: 'form-signin' do %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= email_field_tag :email, params[:email], :placeholder => "email", class: 'input-block-level' %>
  <%= password_field_tag :password, params[:password], :placeholder => "password", class: 'input-block-level' %>
  <%= submit_tag "登录", :class => "btn btn-large btn-primary" %>
<% end %>