<li class="media thumbnails">
  <div class="pull-left span2">
    <%=image_tag(comment.user_avatar.thumb.url)%>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user_name %></h4>
    <p><%= comment.content %></p>
  </div>
</li>