<%= form_for([@car,@car.comments.build]) do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :content, :rows => 5,:placeholder=>"comment" %>
    </div>
    <div class="controls">
      <%= f.submit 'Add comment', class: "btn btn-primary" %>
    </div>
  </div>
<% end %> 
