<%= form_for [@car,@comment], html: { class: 'sign_up' } do |f| %>
  <div class="control-group">
    <%= f.hidden_field :car_id, value: @car.id %>
    <div class="controls">
      <%= f.text_area :content, :rows => 10, :placeholder=>"comment" %>
    </div>
    <div class="controls">
      <%= f.submit 'Add comment', class: "btn btn-primary" %>
    </div>
  </div>
<% end %> 
