<div class="col-xs-3">
  <div class="images_holder">
    <a href="#"><img alt="" src="img/logos/logo-12-b.jpg" class="active_image "><img alt="" src="img/logos/logo-12-a.jpg" class="hover_image"></a>
  </div>
</div>