<section>
  <article class="container clients">

    <div class="row">
      <div class="col-xs-12">
        <header><h2>Client list</h2></header>
      </div>
    </div>
    
    <div class="row">
      <%= render partial: 'client', collection: @clients %>
    </div>

  </article>
</section>