<div class="rent-rates">
  <div class="price-block">
    <span class="rmb-symbol">&#65509;</span>
    <span class="rmb"><%= rate['day'] %></span>
    <span class="separator">/</span>
    <span class="unit">天</span>
  </div>
  <div class="price-block">
  </div>
  <div class="price-block small">
    <span class="rmb-symbol">&#65509;</span>
    <span class="rmb"><%= rate['week'] %></span>
    <span class="separator">/</span>
    <span class="unit">周</span>
  </div>
  <div class="price-block small">
    <span class="rmb-symbol">&#65509;</span>
    <span class="rmb"><%= rate['month'] %></span>
    <span class="separator">/</span>
    <span class="unit">月</span>
  </div>
</div>