<div class="container">
<div class="row">
  <div class="col-md-7 box">
    <div class="rent_process">
      <%= yield :steps %>
      <ul class="rent_steps">
        <li id="step_1">选择车辆</li>
        <li id="step_2">选择日期</li>
        <li id="step_3">出租费用</li>
        <li id="step_4">出租完成</li>
      </ul>
    </div>
  </div>
</div>
</div>