<%= render partial: 'shared/panel_nav', locals: { active: 'nav_rent'} %>

<div class="row">
  <div class="col-md-7">
  <% unless @rents.empty? %>
    <table class="table table-hover">
      <%= render partial: 'rents_list_item', collection: @rents, as: :rent %>
    </table>
    <div class="pagination"><%= paginate @rents %></div>
  <% else %>
    还没有出租,<%= link_to '立刻发布出租信息', select_car_rents_path %>
  <% end %>
  </div>
</div>

