<%= content_for(:steps) do %>
  <%= image_tag 'rent_step_2.png', class: 'step' %>
<% end %>
<div class="container">
<div class="row">
  <div class="col-md-7 box">
    <div class="box">
      <%= render 'select_time_form'%>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
</div>
<script>
$("#step_2").addClass("step_active");
</script>