<% unless signed_in? %>
  <%= render 'shared/signup_or_signin_modal' %>
  <p id="store_location"></p>
  <script type="text/javascript">
    $('#<%= id %>').click(function(){
      $('#store_location').text('<% store_location %>');
      $('#myModal').modal();
      return false;
    });
  </script>
<% end %>