<div class="container">
<% if flash[:success] %>
<div class="row">
  <div class="alert alert-success fade in" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:success] %>
  </div>
</div>
<% end %>
<% if flash[:error] %>
<div class="row">
  <div class="alert alert-danger fade in" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
</div>
<% end %>
<% if flash[:warning] %>
<div class="row">
  <div class="alert alert-warning fade in" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:warning] %>
  </div>
</div>
<% end %>
</div>