<% if flash[:notice] %>
<div class="row-fluid alert-box">
  <div class="alert alert-success span12" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
</div>
<% end %>
