<div class="row order-list">
  <div class="span7">
    <table class="table table-hover">
      <%= render partial: 'order', collection: @orders %>
    </table>
  </div>
  <div class="span5">
  </div>
</div>
