<div class="row">
  <div class="col-md-7">
    <div class="border-box">
      <%= render 'select_time_form' %>
    </div>
  </div>
  <div class="col-md-5">
    <%= render partial: 'rents/rent_calendar' %>
  </div>
</div>