<%= render 'style' %>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/lam1.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/lam2.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/lam3.jpg" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<%= render 'search_infos/search_form' %>