// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "twitter/bootstrap";

// html {
//   /*background: url("bg.png") repeat scroll left bottom #EEEEEE;*/
//   height: 100%;
// }

// body {
//   padding-top: 50px;
//   background: none repeat scroll 0 0 transparent;
//   background-color: #F5F5F5;
//   color: #585858;
// }

select {
  width:80px;
}

.homepage {
  background-image: image-url('background.jpg');
  height: 700px;
  width: 100%;
  position: relative;
}

.left-box {
  border-right: solid 1px #E2E2E2
}
.relative-box {
  position: relative;
}
.nav-tabs {
  margin-bottom: 20px;
}
.search-hero {
  position: absolute;
  top: 250px;
  height: 300px;
  z-index: 10;
}
#request-box .request-tool {
    padding: 10px;
}

#request-box .rent-rates {
  background-color: #54544E;
  color: white;
  padding: 10px 0;
  .price-block {
    display: inline-block;
    text-align: center;
    width: 49%;
    height: 50px;
    padding: 10px;
    .rmb-symbol {
        font-size: 15px;
        position: relative;
        right: 2px;
        top: -19px;
    }
    .rmb {
        font-size: 42px;
        font-weight: 500;
    }
    .cents {
        font-size: 15px;
        position: relative;
        top: -19px;
    }
    .unit {
        font-size: 15px;
    }
    .separator {
        font-family: 'Helvetica Neue Ultra Light','HelveticaNeue-Ultralight',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 32px;
    }
  }
  .price-block-small {
    display: inline-block;
    text-align: center;
    width: 49%;
    height: 50px;
    padding: 10px;
    .rmb-symbol {
      font-size: 13px;
      top: -4px;
    }
    .rmb {
        font-size: 18px;
    }
    .cents {
      font-size: 13px;
      top: -4px;
    }
    .separator {
        display: inline-block;
        font-size: 15px;
        margin-left: 0.1em;
        margin-right: 0.15em;
    }
    .unit {
        font-size: 13px;
    }
  }
}
.profile {
  li {
    font-size: 14px;
    line-height: 180%;
    border-bottom: 1px dashed #eee;
  }

  label {
    color: #999;
    font-size: 12px;
    margin-right: 8px;
    display: inline-block;
    width: 100px;
    text-align: right;
  }
}
.map-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.map-header {
  background: none repeat scroll 0 0 #54544E;
  color: white;
  font-size: 15px;
  line-height: 18px;
  padding: 9px 5px;
}
#map_container {
  height:400px;
  overflow: hidden;
  img {
    width: 16px;
  }
}
#car-description h4 {
  color: #FC7C1A
}
#rent_type {
  margin-bottom: 20px;
}
.rent_steps {
  border: 0 none;
  list-style: none outside none;
  margin: 0 0px 30px;
  overflow: hidden;
  padding: 0;
}
.rent_process {
  width:640px;
  img.step {
    margin:0 30px;
    width:560px;
  }
}
.rent_steps li:first-child {
    margin-left: 0;
}
.rent_steps li {
    display: inline-block;
    font-size: 16px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 115px;
    vertical-align: middle;
    white-space: nowrap;
}
.margin_button {
  margin: 10px;
}
ul.rent-abstract {
  vertical-align: middle;
  li {
    line-height: 2;
  }
}
.step_active {
  color: #00ADF2;
}
.mark-box {
  margin: 0;
  position: relative;
  height: 30px;
}
.mark-brand {
  background: none repeat scroll 0 0 #28BCDC;
  color: white;
  display: inline-block;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1em;
  padding: 10px 20px;
  position: absolute;
  top: -73px;
  left: -10px;
  z-index: 100;
}
.mark-brand:after {
  background: image-url("corner.png") no-repeat scroll 0 0 / 10px auto transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 10px;
}
.mark-location {
  background: none repeat scroll 0 0 #54544E;
  color: #FFFFFF;
  display: inline-block;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  width: 400px;
  position: relative;
  top: -1px;
}
.table td {
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 0;
}
.container-box {
  margin-bottom: 40px;
  margin-top: 20px;
  padding-bottom: 20px;
  min-height: 500px;
}

.alert {
  margin: 0!important;
}
#request-box {
  margin: 20px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.border-box, .box {
  margin: 20px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 1em 20px;
  @include clearfix;
}
.login_model {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 1em 20px;
  @include clearfix;
}
#calendar {
  margin-bottom: 10px;
  padding: 10px;
}

/* FOOTER
--------------------------------------------*/
#footer {
    background-color: #333333;
    background-image: image-url('footer_tread.png');
    clear: both;
    font-size: 12px;
    overflow: hidden;
}
#footer a {
  color: #80D7EA;
}
#footer .row {
  margin-left:0;
}
#footer [class*="span"] {
    float: left;
    margin-left: 10px;
    min-height: 1px;
}
#footer a:hover {
  color: #FFF;
}
#footer-additional {
    background-color: #1C1917;
    border-bottom: 1px solid #2B2B27;
    overflow: hidden;
}
#footer-additional .wrapper {
    padding-top: 17px;
}
#footer-content {
    background-color: #333333;
    background-image: image-url('footer_tread.png');
    color: #CCCCCC;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 60px;
}
#footer-content h4, #footer-content h5 {
    color: #FFFFFF;
    line-height: 100%;
    padding-bottom: 20px;
    text-decoration: none;
}
#footer-content .textwidget {
    padding-right: 30px;
}
#footer-content .white-dots li a {
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 0 4px;
}
#footer-content .white-dots li a:hover {
    color: #00A0C6;
    text-decoration: none;
}
#footer-content .more {
    font-style: italic;
}
#footer-content .more:hover, #footer-content .contact li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#footer-content .contact li {
    color: #00A0C6;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    padding-left: 35px;
}

#footer-content .social-icons {
    border: 0 none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#footer-content .social-icons li {
    -moz-box-orient: vertical;
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding: 0 2px 5px 0;
    vertical-align: middle;
    white-space: nowrap;
}
#footer-content .social-icons li a:hover {
    opacity: 0.8;
}
#sub-footer {
    min-height: 49px;
    overflow: hidden;
}
#sub-footer #copyright, #sub-footer .tos {
    color: #6E6D68;
    padding: 16px 0 15px;
}
#sub-footer #copyright {
    padding-left: 10px;
}
#sub-footer .tos {
    padding-right: 40px;
}
#sub-footer .tos a {
    color: #6E6D68;
}
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
.picture-box {
  height: 360px;
  width: 600px;
  overflow: hidden;
}
.picture-thumb-box {
  width: 200px;
}
.picture-indicator {
  position: relative;
  top: 20px;
  height: 100px;
}
.picture-upload-button {
  position: relative;
  overflow: hidden;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
  }
}
li a.user {
  color: #169DE9!important;
  font-weight: 500;
}
.button-group {
  margin-top: 20px;
}
