<tr><td>
  <ul class="thumbnails">
    <li class="span4">
     <%= link_to image_tag(car.avatar_url), new_info_path(car_id: car.id) %>
    </li>
    <li class="span4">
      <table>
        <%= render partial: 'cars/car_profile', object: car, as: :car %> 
      </table>
    <li>
  </ul>
</td></tr>