<div class='row'>
  <div class='span6'>
    <table class='table'>
      <tr><%= image_tag(car.avatar_url) %></tr>
      <%= render partial: 'cars/car_profile', object: car, as: :car %>
    </table>
  </div>
  <div class='span3'>
    <%= render :partial => 'shared/location',locals: { city: car.city, location: car.location} %>
  </div>
</div>