
  <ul class="features">
    <h4>描述</h4>
    <li><strong>车辆型号:</strong><%= car.brand %></li>
    <li><strong>所在城市:</strong><%= car.location.city %></li>
    <li><strong>取车地点:</strong><%= car.location.detail %></li>
    <li><strong>车   况:</strong><%= simple_format(car.description) %></li>
  </ul>
