<div id="carousel-puppie" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @car.pictures.each do |pic| %>
      <div class="item">
        <%= image_tag pic.image.url("slides") %>
      </div>
    <% end %>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-puppie" data-slide="prev">
    <i class="icon-left-open"></i>
  </a>
  <a class="right carousel-control" href="#carousel-puppie" data-slide="next">
    <i class="icon-right-open"></i>
  </a>
</div>
<script>
  $('div.carousel-inner .item:first').addClass("active");
</script>
