<div class="form-group">
  <label class="control-label col-lg-2">上传图片</label>
  <div class="col-md-8">
    <input type="file" name=car[car_pictures_attributes][1][picture] id="fileupload" multiple>
  </div>
</div>
<script>

</script>
<script src="/jquery.ui.widget.js"></script>
<script src="/jquery.iframe-transport.js"></script>
<script src="/jquery.fileupload.js"></script>