<%= render partial: 'shared/panel_nav', locals: { active: 'nav_car'} %>
<div class="page-header">
  <h2>更新汽车</h2>
</div>
<div class="row">
  <div class="col-md-7 box">
    <%= render 'new_car_form'%>
  </div>
  <div class="col-md-4">
  </div>
</div>

