<%= render partial: 'shared/panel_nav', locals: { active: 'nav_car'} %>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag 'new_car_1.png'%>
      </div>
      <div class='panel-body'>
        <%= render 'new_car_form'%>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>

