<%= render partial: 'cars/car_detail', object: info.car, as: :car %>
<div class='row'>
  <div class='span6'>
    <table class='table'>
      <tr><td>Start:</td><td><%= info.rent_start %></td></tr>
      <tr><td>End:</td><td><%= info.rent_end %></td></tr>
      <tr><td>Owner:</td><td><%= info.car.user.name %></td></tr>
    </table>
  </div>
</div>
