<!-- FOOTER -->
<footer id="footer">
<!--   <div id="footer-additional" class="clearfix">
    <div class="wrapper"></div>
  </div> -->
  <div id="footer-content" class="clearfix">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-4">
          <h4>关于我们</h4>
          <p> 让你的车不再停滞，让世界流动起来
        </div>
        <div class="span3">
          <h4>联系我们</h4>
            <a href="mailto:loveltyoic@gmail.com">loveltyoic@gmail.com</a>
            <a href="http://weibo.com/u/3879825891?from=profile&wvr=5&loc=infdomain">新浪微博</a>
        </div>
      </div>
    </div>
  </div>
  <div id="sub-footer">
    <div class="wrapper">
      <div class="row">
        <div class="pull-left">
          <div id="copyright">&copy; 2013 车流网</div>
        </div>
      </div>
    </div>
  </div>
</footer>