<!-- Footer -->
<footer>

  <div class="bottom-foot">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>联系我们</h4>
            <a href="mailto:loveltyoic@gmail.com">Email</a><br>
            <a target='blank' href="http://weibo.com/u/3879825891?from=profile&wvr=5&loc=infdomain">新浪微博@车流网</a>
        </div> 
        <div class="col-sm-6">
          <h4>分享</h4>
          <%= render 'shared/share_button' %>
        </div> 
       </div>
    </div>
    <p>© 2013 <%= link_to '车流网', root_path %></p>
    <div class="centered"><p>车联你我，车流不息</p></div>
  </div>
</footer>
<a href="#" class="scrollup"><i class="icon-up-open"></i></a>

<!-- ======================= JQuery libs =========================== -->
    
    <!-- Bootstrap-->
   

  <!-- ======================= End JQuery libs ======================= -->
      

<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>