<head>
    <title>车流网</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <link href="/favicon.png" rel="shortcut icon">
    <%= render 'layouts/shim' %>
    <meta charset='UTF-8'>
    <meta name="description" content="车流网，值得信赖的车辆出租平台">
    <meta name="keywords" content="私家车,出租,日租,长租">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="wb:webmaster" content="b1289dcf7f4e7f6e" />
</head>