<%= form_tag search_rents_by_location_path, :class => 'navbar-form navbar-left', method: 'get' do %>
  <div class="form-group">
    <%= text_field_tag :location, params[:location], class: "form-control", :placeholder => "地点" %>
  </div>
  <button type="submit" name="nil" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>

<% end %>

