<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class='content'>
      <%= render 'shared/notice' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>