<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body id="main">
    <div class="container container-box">
      <%= render 'shared/notice' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>